<% if owner_company_signed_in? %>
    <div class="d-flex justify-content-center">
        <h1>Bienvenido a la creacion de empresas <%= current_owner_company.first_name%></h1>      
    </div>
    <div class="d-flex justify-content-center">
        <%= link_to 'Crear empresa', new_company_path, class:"btn btn-secondary my-2" %>
    </div>
    <div class="container">
        <div class="row">
            <% @companies = Company.where(owner_company_id: current_owner_company.id)%>
            <% if @companies.any?%>
                <% @companies.each do |com|%>
                    <div class="col-md-4">
                        <div class="profile-card-2"><img src="/images/compania.jpg" width="350" height="500"class="img img-responsive">
                            <div class="profile-name"><%= com.name%></div>
                            <div class="profile-category">Categoria: <%= com.category.name  %></div>
                            <div class="profile-direction">Direccion: <%= com.adress%></div>
                            <div class="profile-phone">Celular: <%= com.phone %></div>
                            <div class="profile-schedule">Horario: <%= com.schedule %></div>
                        </div>
                    </div>
                <%end%>
            <%end%>
        </div>
    </div>
</div>
<% elsif user_signed_in? %>
    <div class="d-flex justify-content-center">
        <h1>Hola! <%= current_user.first_name%> estas son las categorias que tenemos para ti:</h1>  
        <br>    
    </div>
    <div class="container">
	<div class="row">
		<div class="col-md-4">
    <div class="profile-card-2"><img src="/images/makeup.jpg" class="img img-responsive">
        <div class="profile-name">Belleza</div>
        <div class="profile-username">Maquillaje, accesorios y más!</div>
    </div>
</div>
		<div class="col-md-4">
        <div class="profile-card-2"><img src="/images/tecnologia.jpg" class="img img-responsive">
        <div class="profile-name">Tecnología</div>
        <div class="profile-username">Computadores, tables y accesorios</div>
   </div>
</div>
    <div class="col-md-4">
    <div class="profile-card-2"><img src="/images/comida.jpg" class="img img-responsive">
        <div class="profile-name">Comida</div>
        <div class="profile-username">Encuentra platos de todo tipo!</div>
 </div>
</div>

 <div class="col-md-4">
    <div class="profile-card-2"><img src="/images/ellas.jpg" class="img img-responsive">
        <div class="profile-name">Ropa</div>
        <div class="profile-username">Para ellas</div>
 </div>
</div>

<div class="col-md-4">
    <div class="profile-card-2"><img src="/images/ellos.jpg" class="img img-responsive">
        <div class="profile-name">Ropa</div>
        <div class="profile-username">Para ellos</div>
 </div>
</div>

<div class="col-md-4">
    <div class="profile-card-2"><img src="/images/cuidado_personal.jpg" class="img img-responsive">
        <div class="profile-name">Cuidado Personal</div>
        <div class="profile-text">Encuentra todo lo que tenemos para ofrecerte en cuidado personal</div>
 </div>
</div>
<% else %>
<style type="text/css">
*
.wrapper{margin:10vh}
//post card styles

.card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow:hidden;
    border-radius:20px;
    min-height:450px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

    @media (max-width: 768px) {
        min-height:350px;
    }

    @media (max-width: 420px) {
        min-height:300px;
    }

    &.card-has-bg{
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size:120%;
        background-repeat:no-repeat;
        background-position: center center;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);}

        &:hover {
            transform: scale(0.98);
            box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
            background-size:130%;
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

            .card-img-overlay {
                transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                background: rgb(35,79,109);
                background: linear-gradient(0deg, rgba(4,69,114,0.5) 0%, rgba(4,69,114,1) 100%);
            }
        }
    }      
    .card-footer{
    background: none;
    border-top: none;
        .media{
        img{
        border:solid 3px rgba(234,95,0,0.3);
        }
    }
    }
    .card-meta{color:orange}
    .card-body{ 
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:hover {
    .card-body{
        margin-top:30px;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(35,79,109);
    background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
    }
}
.container
{
width: 1200px;
height: auto;
display: flex;
margin-top: 150px;
}
.container h1
{
color: #fff;
font-size: 60px;
font-weight: 400;
padding-top: 100px;
}
.container span
{
font-weight: bold;
}
.container p
{
color: #fff;
line-height: 25px;
padding-top: 10px;
font-size: 18px;
}

.btn{
    color:white !important;
 }   
.btn3
{
width: 150px;
height: 50px;
background: #fff;
border: none;
border-radius: 5px;
color: #fe4c1c;
cursor: pointer;
font-size: 16px;
margin-top: 20px;
}
.image img
{
width: 800px;
height: 500px;
margin-top: 50px;
animation: animate linear 2s infinite;
}
@keyframes animate
{
0%
{
transform: rotate(10deg);
}
50%
{
transform: rotate(5deg);
}
100%
{
transform: rotate(10deg);
}
}
</style>

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="content">
                <h1>Bienvenido a<br> <span>MyPymes App</span></h1>
                <%= link_to "Iniciar Sesion", new_user_session_path, class:"btn btn-dark" %>
                <%= link_to "Iniciar Sesion Empresa", new_owner_company_session_path, class:"btn btn-dark" %>
                <%= link_to "Registrate", new_user_registration_path, class:"btn btn-dark" %>
                <%= link_to "Registra tu empresa", new_owner_company_registration_path, class:"btn btn-dark mt-2" %>
            </div>
            <div class="image">
                <img src="/images/pic.png">
            </div>
        </div>
    </header>
</body>
</html>
 
<% end %>
