<% if owner_company_signed_in? %>
    <div class="d-flex justify-content-center">
        <h2>Bienvenido a la creacion de empresas</h2>
        
    </div>
    <div class="d-flex justify-content-center">
        <%= link_to 'Crear compañia', new_company_path, class:"btn btn-secondary" %>
    </div>
<% elsif user_signed_in? %>
    <div class="d-flex justify-content-center">
        <h2>HOla mundo</h2>
    </div>
    <% else %>
    <!DOCTYPE html>
<html>
<head>
<title>Website template</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<style type="text/css">
*
{
margin: 0;
padding: 0;
overflow: hidden;
transition: 0.5s;
font-family: 'Jost', sans-serif;
}
header
{
width: 100vw;
height: 100vh;
background: linear-gradient(to right, rgb(55 31 169), rgb(32 171 246));
}
.container
{
width: 1200px;
height: auto;
display: flex;
margin-top: 150px;
}
.container h1
{
color: #fff;
font-size: 60px;
font-weight: 400;
padding-top: 100px;
}
.container span
{
font-weight: bold;
}
.container p
{
color: #fff;
line-height: 25px;
padding-top: 10px;
font-size: 18px;
}

.btn{
    color:white !important;
 }   
.btn3
{
width: 150px;
height: 50px;
background: #fff;
border: none;
border-radius: 5px;
color: #fe4c1c;
cursor: pointer;
font-size: 16px;
margin-top: 20px;
}
.image img
{
width: 800px;
height: 500px;
margin-top: 50px;
animation: animate linear 2s infinite;
}
@keyframes animate
{
0%
{
transform: rotate(10deg);
}
50%
{
transform: rotate(5deg);
}
100%
{
transform: rotate(10deg);
}
}
</style>
<body>
<header>
<div class="container">
<div class="content">
<h1>Bienvenido a<br> <span>MyPymes App</span></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua.</p>
<%= link_to "Iniciar Sesion", new_user_session_path, class:"btn btn-dark" %>
<%= link_to "Iniciar Sesion Empresa", new_owner_company_session_path, class:"btn btn-dark" %>
<%= link_to "Registrate", new_user_registration_path, class:"btn btn-dark" %>
<%= link_to "Registra tu empresa", new_owner_company_registration_path, class:"btn btn-dark mt-2" %>
</div>
<div class="image">
<img src="/images/pic.png">
</div>
</div>
</header>
</body>
</html>
<% end %>
