<%= form_with(model: payment_method) do |form| %>
  <% if payment_method.errors.any? %>
    <div class="alert alert-danger mt-2" id="flash">
      <p><%= pluralize(payment_method.errors.count, "error") %> no se pudo crear el metodo de pago por: </p>
      <ul>
        <% payment_method.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre"%>
    <%= form.text_field :name, class:"form-control", required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-success my-2" %>
  </div>
<% end %>
