<h1>Metodos de pago</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_methods.each do |payment_method| %>
      <tr>
        <td><%= payment_method.name %></td>
        <td><%= payment_method.status == true ? "Activo" : "Inactivo"%></td>
        <td><%= link_to 'Editar', edit_payment_method_path(payment_method), class:"btn btn-primary"%> </td>
        <td><%= link_to 'Destruir', payment_method, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
<%= link_to 'Nuevo Metodo de pago', new_payment_method_path, class:"btn btn-success mb-2" %>
</div>
