<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgb(55 31 169), rgb(32 171 246));
  justify-content: center;
  padding: 30px;
}
.container{
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}
.container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}
.container .cover::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ff8000;
  opacity: 0.5;
  z-index: 100;
}
.container .cover::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ff8000;
  opacity: 0.5;
  z-index: 100;
  transform: rotateY(180deg);
}
.container #flip:checked ~ .cover{
  transform: rotateY(-180deg);
}
.container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 12;
  backface-visibility: hidden;
}
.container .cover .back .backImg{
  transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.container .cover .text{
  position: absolute;
  z-index: 111;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cover .text .text-1,
.cover .text .text-2{
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
}
.cover .back .text .text-1,
.cover .back .text .text-2{
  transform: rotateY(180deg);
}
.cover .text .text-2{
  font-size: 15px;
  font-weight: 500;
}
.container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #ff8000;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #ff8000;
}
.form-content .input-box i{
  position: absolute;
  color: #ff8000;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #ff8000;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #0000FF;
}
.forms .form-content label{
  color: #0000FF;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.container #flip{
  display: none;
}
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/images/pic3.jpg" alt="">
        <div class="text">
          <span class="text-1">¡Gracias por unirte a <br> MyPymes App!</span>
          <span class="text-2">Bienvenido</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
        <div class="signup-form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
            <% usuario =  resource_name.to_s == "user" ? "Usuario" : "Empresa" %>
          <div class="title">Registro <%= usuario%> </div>
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
              <i class="fas fa-user"></i>
                <%= f.text_field  :first_name, autocomplete: "first_name", class: "form-control", placeholder:"Nombres",required: true %>
              </div>
              <div class="input-box">
              <i class="fas fa-user"></i>
                <%= f.text_field  :last_name, autocomplete: "last_name", class: "form-control", placeholder:"Apellidos",required: true %>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Correo Electrónico",required: true%>
              </div>
              <div class="input-box">
                <i class="fas fa-user-astronaut"></i>
                <%= f.text_field  :username, autocomplete: "username", class: "form-control", placeholder:"Usuario",required: true %>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"Contraseña",required: true %>
              </div>
               <div class="input-box">
                <i class="fas fa-lock"></i>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"Confirmar Contraseña",required: true %>
              </div>
              <div class="button input-box">
                <%= f.submit "Registrarse", class:"btn btn-primary"%>
              </div>
              <div class="text sign-up-text">
              <%- if controller_name != 'sessions' %>
                ¿Ya tienes una cuenta? <%= link_to "Ingreso", new_session_path(resource_name)%><br />
              <% end %>
              </div>
            </div>
      </form>
    </div>
    </div>
    <%end%>
    </div>
  </div>
</body>
</html>
<!--
<header>
<div class="row">
<div class="col-4"></div>
<div class="card col-4 mt-4 text-center d-flex justify-content-center align-items-center">
  <div class="card-title">
    <% usuario =  resource_name.to_s == "user" ? "Usuario" : "Empresa" %>
    <h2 align="center">Registro <%= usuario%></h2>
  </div>
  
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="d-flex justify-content-center row">
        <div class="">
          <%= f.label "Correo" %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="">
          <%= f.label "Nombres" %><br/>
          <%= f.text_field  :first_name, autocomplete: "first_name", class: "form-control" %>
        </div>
        <div class="">
          <%= f.label "Apellidos" %><br/>
          <%= f.text_field  :last_name, autocomplete: "last_name", class: "form-control" %>
        </div>
        <div class="">
          <%= f.label "Usuario" %><br/>
          <%= f.text_field  :username, autocomplete: "username", class: "form-control" %>
        </div>
        

        <div class="">
          <%= f.label "Contraseña" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caracteres minimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
        </div>

        <div class="">
          <%= f.label "Confirmacion de contraseña" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="d-flex justify-content-center mt-2">
          <%= f.submit "Registrarse", class:"btn btn-primary"%>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
    
  </div>
</div>
<div class="col-4"></div>
</div>
</header>