<% if user_signed_in? %>
    <% usuario = current_user%>
<% elsif owner_company_signed_in? %>
    <% usuario = current_owner_company%>
<% end %>
<% if user_signed_in? %>
<div class="card-header">
    <div class="card-title">
  <h1>Shopping Carts</h1>
  <% total = 0 %>
  </div>
</div>

    <% total1 = 0%>
    
    
      <% ShoppingCart.where(user_id: usuario.id).each do |shopping_cart| %>
        
        <div class="card col-4 mx-2 mt-5 cardasd"> 
        <div class="card-body text-center mx-auto cbuf">
        <div class='cvp'>
            <h5 class="card-title font-weight-bold"><%= shopping_cart.product.name %></h5>
            <p class="card-text"><%= shopping_cart.amount %></p> 
            <p class="card-text">$<%= shopping_cart.price %></p> 
            <p class="card-text"><%= link_to 'Destroy', shopping_cart, method: :delete, data: { confirm: 'Are you sure?' } %></p> 
            <% total += shopping_cart.price%>
            <% total1 += shopping_cart.amount %>
          </div>  
          </div>
          </div>
        <tr>
        
       
        <% end %>  
        
        <div class="card col-4 mx-2 mt-5 cardasd"> 
        <div class="card-body text-center mx-auto cbuf">
        <div class='cvp'>
        Total a pagar <%= total%>
        <br>
        Cantidad total de productos<%= total1%> 
        
        
        </div>  
          </div>
          </div>
          

  <br>
<% end %>