<% if user_signed_in? %>
    <% usuario = current_user%>
<% elsif owner_company_signed_in? %>
    <% usuario = current_owner_company%>
<% end %>
<div class="d-flex flex-column align-items-center align-items-sm-center pt-2 text-white min-vh-100">
    <div class="d-flex justify-content-center">
            <% if usuario.avatar.attached?%>
            <%= image_tag usuario.avatar, alt:"hugenerd", width:"150", height:"150", class:"rounded-circle"%>
            <% else %>
            <img src="/images/Avatar.png" alt="hugenerd" width="150" height="150" class="rounded-circle">
            <% end %>
    </div>
    <div class="dropdown ">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="col">
                <span class="d-none d-sm-inline mx-1"><%= usuario.first_name %> <%= usuario.last_name%></span>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <% if user_signed_in? %>
                <li><%= link_to "Perfil", edit_user_registration_path, class:"dropdown-item" %></li>
                <hr class="dropdown-divider">
                <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
            <% elsif owner_company_signed_in? %>
                <li><%= link_to "Perfil", edit_owner_company_registration_path, class:"dropdown-item" %></li>
                <hr class="dropdown-divider">
                <li><%= link_to "Cerrar Sesion", destroy_owner_company_session_path, method: :delete, class:"dropdown-item" %></li>
            <% end %>
        </ul>
    </div>
    <hr class="hr-white">
    <nav class="navbar">
        <ul class="nav navbar-nav nav-pills flex-column mb-sm-auto">
            <% if user_signed_in? %>
            
            <% elsif owner_company_signed_in? %>
                <li class="navbar-item">
                    <a class="navbar-link" href="<%= root_url%>">
                        <i class="align-middle fas fa-home"></i> <span class="ms-1 d-none d-sm-inline align-middle">Inicio</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="<%= categories_url%>">
                        <i class="align-middle fas fa-clipboard-list"></i> <span class="ms-1 d-none d-sm-inline align-middle">Categorias</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="<%= payment_methods_url%>">
                        <i class="align-middle fas fa-money-check-alt"></i> <span class="ms-1 d-none d-sm-inline align-middle">Metodos de pago</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link"href="<%= companies_url%>">
                        <i class="align-middle fas fa-building"></i> <span class="ms-1 d-none d-sm-inline align-middle">Empresas</span>
                    </a>
                </li>
            <%end%>
        </ul>
    </nav>
</div>