<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre"%>
    <%= form.text_field :name, class:"form-control", required: true %>
  </div>

  <div class="field">
    <%= form.label "Direccion" %>
    <%= form.text_field :adress, class:"form-control", required: true%>
  </div>

  <div class="field">
    <%= form.label "Categoria"%>
    <%= form.select :category_id, Category.all.map{|u| [u.name, u.id]}, {include_blank: true}, class:"form-select", required: true%>
  </div>

  <div class="field">
    <%= form.label "Metodos de pago" %>
    <%= form.select :payment_method_id, PaymentMethod.all.map{|u| [u.name, u.id]}, {include_blank: true}, class:"form-select", required: true%>
  </div>

  <%= form.hidden_field :owner_company_id , value: current_owner_company.id, required: true%>

  <div class="field">
    <%= form.label "Celular" %>
    <%= form.number_field :phone, class:"form-control", required: true%>
  </div>

  <div class="field">
    <%= form.label "Horario" %>
    <%= form.text_field :schedule, class:"form-control", required: true %>
  </div>

  <div class="field">
    <%= form.label "Correo" %>
    <%= form.text_field :email, class:"form-control", required: true %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-success my-2" %>
  </div>
<% end %>
