<h1>Empresas</h1>

<table class="table table-dark table-striped"> 
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Categoria</th>
      <th>Metodo de pago</th>
      <th>Celular</th>
      <th>Horario</th>
      <th>Correo</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.adress %></td>
        <td><%= company.category.name %></td>
        <td><%= company.payment_method.name %></td>
        <td><%= company.phone %></td>
        <td><%= company.schedule %></td>
        <td><%= company.email %></td>
        <td><%= company.status == true ? "Activo" : "Inactivo" %></td>
        <td><%= link_to 'Editar', edit_company_path(company), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destruir', company, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
<%= link_to 'Nueva Empresa', new_company_path, class:"btn btn-success mb-3"%>
</div>