<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @company.adress %>
</p>

<p>
  <strong>Category:</strong>
  <%= @company.category_id %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @company.payment_method_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @company.schedule %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
