<style type="text/css">
*
{
margin: 0;
padding: 0;
overflow: hidden;
transition: 0.5s;
font-family: 'Jost', sans-serif;
}
header
{
width: 100vw;
height: 100vh;
background: linear-gradient(to right, rgb(55 31 169), rgb(32 171 246));
}

</style>
<header>
<div class="container">
<div class="row">
<div class="col-4 mt-5"></div>
<div class="card col-4 mt-5 text-center d-flex justify-content-center align-items-center">
  <div class="card-title">
    <% usuario =  resource_name.to_s == "user" ? "Usuario" : "Empresa" %>
    <h2 align="center">Ingreso <%= usuario%></h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="">
        <%= f.label "Correo" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="">
        <%= f.label "Contraseña" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="">
          <%= f.check_box :remember_me %>
          <%= f.label "Recordarme" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Ingresar" , class:"btn btn-success"%>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

</div>
</div>
<div class="col-4"></div>
</div>
</div>
</header>