<h1>Categorias</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.status == true ? "Activo" : "Inactivo"%></td>
        <td><%= link_to 'Editar', edit_category_path(category) , class:"btn btn-primary"%></td>
        <td><%= link_to 'Eliminar', category, method: :delete, data:{ confirm: '¿Estas seguro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
<%= link_to 'Nueva Categoria', new_category_path, class:"btn btn-success mb-3"%>
</div>
